<nav class="nav-cluster">
    <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
        <span>Start / Setup</span>
    </NavLink>
    <NavLink class="nav-item" href="/workspace/job-workbench">
        <span>Job Workbench</span>
    </NavLink>
    <NavLink class="nav-item" href="/diagnostics/session">
        <span>Session Diagnostics</span>
    </NavLink>
</nav>
